@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
}

* {
  font-family: "Satoshi", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
